* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(0, 0, 0, 0.9);
	font-family: "JetBrainsMono Nerd Font";
	font-size: 14px;
}

button {
	border-radius: 12px;
	border: 2px solid #ff1f1f;
	background-color: #000000;
	color: #f2f2f2;
	margin: 12px;
	padding: 16px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:hover,
button:focus {
	background-color: #ff1f1f;
	color: #000000;
	outline-style: none;
}

button:active {
	background-color: #cc0000;
	color: #000000;
}
